# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.firebase 
serviceAccountKey_dictionnaire-nufi-firebase-adminsdk.json

nufi_audio_map.json
nufi_dictionary_data.json
database.rules.json
firestore.rules
.firebase/
firebase.json
App_firebase_test.js
firebaseConfig.js
.firebaserc

firestore.indexes.json
# testing
/coverage

# production
/build
/public/audio

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
